html {
  box-sizing: border-box;
}

*,
*::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

section.game-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max(80%, 200px);
  height: max(80vh, 70vh);
  margin: auto;
  background-color: hsla(20, 20%, 10%, 0.5);
  border: 0.1em solid rgb(0, 0, 0, 0.1);
  border-radius: 1em;
  box-shadow: 0 0.5em 0.9em rgb(0, 0, 0, 0.7);
  margin-top: 2em;
}

.game-section h1 {
  font-size: clamp(1.3rem, 3vw, 3rem);
  margin-bottom: 1em;
  border-bottom: 0.1em solid rgb(0, 0, 0, 0.7);
}

.game-section h1 span {
  color: #fff;
}

button {
  background-color: #333;
  color: #fff;
}

div.rps-player {
  display: flex;
  flex-direction: column;
  font-size: clamp(1.2rem, 2.5vw, 2.2rem);
}

div.rps-player > * {
  padding: 0.4em;
}

div.rps-player div:nth-child(1) {
  color: #fff;
}

div.rps-player div:nth-child(2) {
  color: red;
}

.rps-container {
  padding: 4em;
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
}

.rps-container > * {
  padding: 1em;
  text-align: center;
  border-radius: 0.4em;
  outline: none;
  border: none;
  font-size: clamp(0.7rem, 1.8vw, 1.2rem);
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}

.rps-container > *:hover {
  transform: scale(0.9);
}
